@{
    var imglist = ViewBag.imglist;

    //var imglist = Session["imglist1"];

    


}
<meta charset="utf-8" />
<label>@Session["test1"].ToString()</label>
<label>@Session["test"].ToString()</label>
<style>
    img{
        width:250px;
        height:200px;
    }
</style>

@{
        foreach(var src in imglist)
            {
                <div class="img">
                    <img src="@src.image" />
                </div>
            }
}




