<div class="img">
    <form action="Upload" method="post" enctype="multipart/form-data">
        <input type="file" accept=".png, .jpg, .jpeg" name="File" id="File" />
        <input type="submit" value="上傳" />
    </form>
</div>
